[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
e1839a8 = { path = ".", editable = true }
requests = "*"
typing_extensions = "*"

[dev-packages]
e1839a8 = { path = ".", editable = true }
black = { version = "==23.1.0", markers = "python_version >= '3.6.2'" }
flake8 = "*"
importlib_metadata = { version = "==6.1.0", markers = "python_version >= '3.6.0'" }
mock = "*"
pbr = "*"
pydocstyle = "*"
pyflakes = "*"
pytest = "*"
six = "*"
testcontainers = "*"

[pipenv]
allow_prereleases = true
