[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing_extensions = "*"
requests = "*"
e1839a8 = { path = ".", editable = true }

[dev-packages]
black = { version = "==21.5b1", markers = "python_version >= '3.6.2'" }
pbr = "*"
pydocstyle = "*"
flake8 = "*"
importlib_metadata = { version = "==4.2.0", markers = "python_version >= '3.6.0'" }
pyflakes = "*"
pytest = "*"
testcontainers = "*"
mock = "*"
e1839a8 = { path = ".", editable = true }

[pipenv]
allow_prereleases = true
